adult_cleaned.csv
adult_prepared.csv
Demographic Data Analysis for Age.ipynb
Demographic Data Analysis for Workclass.ipynb
Demograpgic data analisys based on income (CODERSLAB).ipynb
.ipynb_checkpoints/
